.about-container {
  margin: auto;
  width: 80%;
}

.bentogrid {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr 1fr 1fr;
}

.about-title {
  color: var(--highlight);
  text-align: center;
  font-size: 32px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.about-p,
.about-highlight {
  font-size: 18px;
  color: var(--gray);
  line-height: 32px;
  text-wrap: pretty;
}

.about-highlight {
  color: var(--highlight);
}

.grid-section {
  padding: 32px;
}

.grid-section {
  border: 2px solid var(--black);
  border-radius: 12px;
}

.grid-section:nth-child(1) {
  grid-column: 1 / 3;
}

.grid-section:nth-child(4) {
  grid-column: 2 / 4;
}
