.contact-container {
  margin-bottom: 50px;
  margin-top: -150px;
}

.contact-email {
  border: 1px solid var(--highlight);
  border-radius: 8px;
  font-size: 20px;
  padding: 8px 16px;
  position: relative;
  z-index: 1;
  background-color: var(--primary);
  box-shadow: 0 0 100px -15px var(--highlight);
}

.contact-buttons {
  display: flex;
  justify-content: center;
  gap: 16px;

  & button {
    position: relative;
    padding: 4px;
    border-radius: 8px;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: var(--green);
    cursor: pointer;
    transition: 0.25s ease-in-out;

    &:hover {
      scale: 1.1;
    }
  }
}

.contact-p {
  text-align: center;
  margin-top: 32px;
  font-size: 18px;
}


.relative {
  position: relative;
}

#tsparticles2 {
  width: 120%;
  height: 120%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.check {
  position: absolute;
  color: var(--green);
  left: 20%;
  bottom: -70%;
  animation: 0.25s ease-in-out check;

  width: 24px;
  height: 24px;
}

@keyframes check {
  0% {
    scale: 0.7;
  }

  33% {
    transform: rotate(-20deg);
  }

  66% {
    scale: 1.1;
    transform: rotate(20deg);
  }

  100% {
    scale: 1;
    transform: rotate(0deg);
  }
}
