.contact-container {
  margin-bottom: 50px;
  margin-top: -150px;
  overflow: hidden;
}

.contact-email {
  border: 1px solid var(--highlight);
  border-radius: 8px;
  font-size: 20px;
  padding: 8px 16px;
  position: relative;
  z-index: 1;
  background-color: var(--primary);
  box-shadow: 0 0 100px -15px var(--highlight);
  text-align: center;
}

.contact-buttons {
  display: flex;
  justify-content: center;
  gap: 16px;

  & button {
    position: relative;
    padding: 4px;
    border-radius: 8px;
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    color: var(--highlight);
    cursor: pointer;
    transition: background-color 0.25s ease-in-out, scale 0.1s ease-in-out;

    &:hover {
      background-color: var(--black);
    }

    &:active {
      scale: 0.9;
      color: var(--highlight-light);
    }
  }
}

.contact-p {
  text-align: center;
  margin-top: 32px;
  font-size: 18px;
}

.relative {
  position: relative;
}

#tsparticles2 {
  width: 140%;
  height: 140%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (width <= 500px) {
  .contact-buttons {
    flex-direction: column;
  }
}
