.headerbar {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 20px 150px;
  background-color: transparent;
  z-index: 50;
  animation: header linear both;
  animation-range: 0 300px;
  animation-timeline: scroll();
}

@keyframes header {
  from {
    background-color: transparent;
  }
  to {
    background-color: var(--primary);
  }
}

.header-list {
  list-style: none;
  display: flex;
  gap: 32px;
  font-size: 16px;
}

.header-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: var(--gray);
}

.header-link svg {
  width: 16px;
}
