.headerbar {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 20px 150px;
  background-color: var(--primary);
  z-index: 50;
}

.header-list {
  list-style: none;
  display: flex;
  gap: 32px;
  font-size: 16px;
}

.header-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: var(--gray);
}

.header-link svg {
  width: 16px;
}