.presentation-container {
  display: flex;
  justify-content: space-between;
}

.presentation-title {
  font-size: 42px;
}

.presentation-subtitle {
  margin-top: 8px;
  margin-bottom: 16px;
}

.presentation-ul{
  margin-top: 16px;
  list-style: none;
  display: flex;
  gap: 16px;
}

.presentation-image {
  width: 200px;
  height: 200px;
  padding: 8px;
  background-color: black;
  border-radius: 50%;
}