.presentation-container {
  margin: auto;
  width: 90%;
  max-width: 900px;
}

.highlight-1 {
  color: var(--highlight);
}

.presentation-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.presentation-image {
  width: 150px;
  height: 150px;
  padding: 8px;
  background-color: var(--white);
  border-radius: 50%;
}

.presentation-title {
  font-size: 52px;
}

.presentation-subtitle {
  margin-top: 8px;
  margin-bottom: 64px;
  color: var(--gray);
  font-size: 32px;
}

.presentation-p {
  font-size: 24px;
  color: var(--gray);
}

.presentation-ul {
  list-style: none;
  display: flex;
  gap: 16px;
}

.presentation-line {
  display: block;
  background-color: var(--white);
  height: 30px;
  width: 1px;
}

.presentation-link {
  border-radius: 8px;
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 8px;
  transition: 0.25s;
}

.presentation-link:hover {
  background-color: var(--black);
}

.tooltip {
  display: block;
  position: absolute;
  top: 130%;
  padding: 4px 8px;
  pointer-events: none;
  font-size: 12px;
  border: 1px solid var(--black);
  border-radius: 8px;
  scale: 0.3;
  opacity: 0;
  transition: 0.25s;
  background-color: var(--primary);
}

.presentation-link:hover .tooltip {
  scale: 1;
  opacity: 1;
}

.presentation-nav {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-top: 32px;
}

.presentation-available {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border: 1px solid var(--black);
  padding: 8px 12px;
  border-radius: 8px;
}

.presentation-dot {
  display: block;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background-color: rgb(6, 255, 6);
}

.presentation-dot::before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgb(6, 255, 6);
  animation: 1s infinite linear pulse;
}

@keyframes pulse {
  0% {
    scale: 0;
    background-color: rgb(6, 255, 6);
  }
  50% {
    scale: 1.5;
    background-color: rgba(6, 255, 6, 0.249);
  }

  100% {
    scale: 2.5;
    background-color: rgba(6, 255, 6, 0);
  }
}

@media (width <= 900px) {
  .presentation-header {
    flex-direction: column-reverse;
    align-items: initial;
    gap: 50px;
  }

  .presentation-image {
    margin: auto;
  }

  .presentation-title {
    font-size: clamp(24px, 8vw, 52px);
  }

  .presentation-subtitle {
    font-size: clamp(20px, 6vw, 32px);
  }
}

@media (width <= 550px) {
  .presentation-nav {
    flex-direction: column;
  }

  .presentation-line {
    display: none;
  }
}
