.project-container {
  display: flex;
  justify-content: space-between;
  gap: 64px;
  padding: 16px;
  border: 2px solid var(--black);
  border-radius: 16px;
}

.project-title {
  color: var(--highlight);
}

.project-description {
  margin: 16px 0;
}

.project-icons {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.project-tech {
  list-style: none;
  gap: 16px;
  display: flex;
}

.project-icon{
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-link{
  color: var(--highlight);
}

.project-image {
  width: 300px;
  border-radius: 12px;
}
