*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth !important;
}

:root {
  --primary: #040407;
  --highlight: #facc15;
  --highlight-light: #ffe789;
  --green: rgb(82, 255, 186);
  --dark-green: rgb(32, 101, 73);
  --white: rgb(227, 227, 227);
  --gray: rgb(178, 178, 178);
  --black: #131313;
  --blue-react: #58c4dc;
  --blue-typescript: #2f74c0;
  --orange-git: #f44d27;
  --green-express: #90c53f;
  --sb-track-color: #040407;
  --sb-thumb-color: #facc15;
  --sb-size: 3px;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 1px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 1px;
  
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}

body {
  padding-top: 180px;
  position: relative;
  background-color: var(--primary);
  height: 100vh;
  color: var(--white);
  font-family: "Onest Variable", sans-serif;
}

body::before {
  background-blend-mode: difference;
  background-image: url(/pattern.svg);
  background-position-x: 40%;
  background-position-y: top;
  background-repeat: no-repeat;
  content: "";
  height: 100%;
  inset: 0;
  opacity: 0.8;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.pattern {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

svg {
  width: 32px;
}
